.noticias{
    padding: 6em;
}

.g {
    width: 20em; height: 20rem;
    transition: all 2s;  
    
 }
 .g:hover {
    height: 30em; width: 30em;
    padding: 5em;
    background-color: rgb(250, 92, 92);
 }
 
 .grid {
    display: grid;  
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 3fr 1fr; 
    justify-content: center;
    
 }

 .grid-hijo{
     padding-top: 2em;
 }


 #grilla {
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    border: 1px solid black;
    background-color: yellow;
 }
 

    